.box {
    display: flex;
    padding-top: 100px;
}
button {
    display: flex;
    height: 56px;
    padding: 20px 36px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 0 solid var(--secondary-secondary, #23213D);
    background: var(--secondary-secondary, #23213D);
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    min-width: 200px;
}
.text-row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--text-text-primary, #222);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}
.button-row {
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    gap: 100px;
    width: 100%;
}
.row-mole {
    display: flex;
    padding-top: 75px;
    align-items: center;
    flex-wrap: nowrap;
}
.margin-mole {
    display: flex;
    align-items: flex-start; 
    color: var(--text-text-primary, #222);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
}
.button-general {
    display: flex;
    align-items: space-evenly;
    flex-direction: row;
    padding: 0 100px;
    gap: 100px;
    width: 100%;  
}
.control {
    display: flex;
    padding-top: 75px;
}
.control-text {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100px;
    color: var(--text-text-primary, #222);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}
.start-button {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 74px;
}
.time-to-end, .result-result, .start-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}
.time-time, .result, .start-start {
    display: flex;
    height: 56px;
    padding: 20px 36px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--secondary-secondary, #23213D);
    background: var(--secondary-secondary, #EBEBEB);
    max-width: 150px;
    max-height: 20px;
    margin-left: 130px;
}

.result {
    margin-left: 210px !important;
}
hr {
    max-width: 500px;
    margin: 25px 0;
    margin-left: 50px;
}
.start-start {
    background-color: red !important;   
}
.grid-game {
    display: grid;
    grid-template-rows: repeat(2, 102px);
    grid-template-columns: repeat(5, 102px); 
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 9px 9px;
}
.grid-game-cell {
    width: 102px;
    height: 102px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--gray-200, #EBEBEB);
    display: flex;
    align-items: center; 
    justify-content: center; 
}


.centered-mole {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  

.green-background {
    background-color: green;
}
.red-background {
    background-color: rgb(255, 0, 0);
}