.main-todo-view {
    margin: 0 0 0 100px;
}
.todo-todo {
    color: var(--secondary-secondary, #23213D);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; 
    margin-bottom: 22px;
    
}
.todo-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}
.todo-element {
    margin: 56px 0 56px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 1000px;
    max-width: 1000px;
    height: auto;
    padding: 18px 24px;
    border-radius: 25px;
    border-left: 5px solid var(--gray-300, #C8CBD1);
    background: var(--background-bg-primary, #FFF);
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.15), 0px 2px 28px 0px rgba(0, 0, 0, 0.12);
}
.todo-control-buttons {
    margin-top: 10px;
    justify-content: flex-start;
    max-width: 750px;
}
.todo-right-side {
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;

}
.todo-text {
    
    flex-wrap: wrap;
}
.todo-vector, .todo-edit, .todo-trash{
    background-color: transparent;
    border-color: transparent;
    margin-right: 10px;
    margin-top: 30px;
}

.todo-add-buttonnn {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 10.357px 18.643px;
    align-items: center;
    gap: 8.286px;
    flex-shrink: 0;
    border-radius: 4.143px;
    border: 0.518px solid var(--primary-primary, #FE3756);
    background: var(--primary-primary,
     #FE3756);
     color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 25.893px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.054px;
    justify-content: center !important; 
} 
.todo-add-container {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.todo-add-title, .todo-add-author, .todo-add-note {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}
.todo-add-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    width: 456px;
}
.todo-return-button {
    display: flex;
    height: 56px;
    padding: 20px 36px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0; 
    border-radius: 8px;
    border: 1px solid var(--secondary-secondary, #23213D);
    background: var(--secondary-secondary, #23213D);
    color: white;
    max-width: 133px ;
}
.todo-add-add-button {
    display: flex;
    height: 56px;
    padding: 20px 36px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--primary-primary, #FE3756);
    background: var(--primary-primary, #FE3756);
    color: white; 
    max-width: 133px;
    margin-left: 10px;
}

.todo-title-input {
    display: flex;
    height: 48px;
    padding: 13px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid var(--grey-300, #C8CBD1);
    background: #FFF;
    width: 456px;
}
.todo-author-input {
    display: flex;
    height: 48px;
    padding: 13px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid var(--grey-300, #C8CBD1);
    background: #FFF;
    max-width: 456px;
}
.todo-note-input {
    display: flex;
    height: 120px;
    padding: 13px 16px;
    gap: 10px;
    align-self: stretch; 
    border-radius: 5px;
    border: 1px solid var(--grey-300, #C8CBD1);
    background: #FFF;
    max-width: 456px;
    align-items: flex-start;
}
.todo-add-title, .todo-add-author, .todo-add-note {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;  
    align-self: stretch;
}
